body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: aqua;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.beach {
  display: block;
  box-sizing: border-box;
  height: 35rem;
  background-color: sandybrown;
  clip-path: ellipse(171% 100% at 147.66% 0%);
}

.unicorn{
    position: absolute;
    width: 8rem;
    height: 4rem;
    background-color: pink;
    animation: unicornMoving 8s forwards;
}

@keyframes unicornMoving{
    0%{
        top: 5rem;
        right: 5rem;
        opacity: 0;
    }
    10%{
        top: 5rem;
        right: 5rem;
        opacity: 1;
    }
    20%{
        top: 5rem;
        right: 5rem;
        opacity: 0;
    }
    40%{
        top: 10rem;
        right: 10rem;
        opacity: 0;
    }
    50%{
        top: 10rem;
        right: 10rem;
        opacity: 1;
    }
    60%{
        top: 10rem;
        right: 10rem;
        opacity: 0;
    }
    80%{
        top: 15rem;
        right: 15rem;
        opacity: 0;
    }
    100%{
        top: 15rem;
        right: 15rem;
        opacity: 1;
    }
}

.wave1 {
  opacity: 0.5;
  position: absolute;
  clip-path: ellipse(171% 100% at 147.66% 0%);
  animation: moveUp 1s linear infinite;
}
.wave2 {
  color: blueviolet;
  opacity: 0.5;
  position: absolute;
  bottom: 5rem;
  left: -15rem;
  clip-path: ellipse(171% 100% at 147.66% 0%);
  transform: rotate(15deg) scale(0.8) scaleX(-1);
  animation: moveUp 1s linear infinite;
}
.wave3 {
  opacity: 0.5;
  position: absolute;
  left: 0;
  bottom: 4rem;
  clip-path: ellipse(171% 100% at 147.66% 0%);
  transform: rotate(5deg) scale(0.8);
  animation: moveUp 1s linear infinite;
}

@keyframes moveUp {
  0% {
    opacity: 0.8;
    bottom: 0;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    bottom: 3rem;
  }
}
