.textContainer {
  position:absolute;
  text-align: center;
  top: 15%;
  z-index: 2;
}

.textContainer--1 {
    animation: fadeInAnimation linear 1s backwards;
    animation-delay: 10s;
}

.textContainer--2 {
    animation: fadeOutAnimation linear 1s forwards;
}

.buttonContainer{
  display: inline-block;
}

@keyframes fadeOutAnimation {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }


}

@keyframes fadeInAnimation {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.text {
  background-color: bisque;
  margin: auto;
  width: 20rem;
  height: 15rem;
  padding: 15px 10px;
  border-radius: 10%;
  border: 5px solid rgb(97, 75, 2);
}

.miniButton {
  margin: 1.5rem 0.5rem 1rem;
  color: #db3eb1;
  border: 2px solid #db3eb1;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 5px #db3eb1) drop-shadow(0 0 15px #db3eb1) contrast(2)
    brightness(2);
  transition: 0.5s;
  
}

.miniButton:hover {
  color: rgb(0, 162, 255);
  background-color: #db3eb1;
}
